<div id="dmain">	
	<%= render :partial=>'layouts/sidebar' %>
<div id="dabout">
	<h1 id='habout'>Pindule</h1>
	<p class='pabout'>Pindule provides forgiveness for those in need.</p>
	<p class='pabout'>We do not provide a legal pardon for your actions</p>
	<p class='pabout'>We make no promises regarding your after-life.  We are no longer connected to any church, but are considering creating our own to get in on the sweet property tax deal</p>
	<p class='pabout'>We accept checks through the mail, and cash</p>
</div></div>
