


<div id="dleft" data-id="<%= @post.id %> "></div>
  	
<div id="dleft2" data-waiting="<%= @post.waiting %> "></div>

<div id="dcenter"
			
		<br><br>
		<span><%= @post.dialogue.html_safe %></span>		
		<br><br>
		<span class='user'><%= @post.clip.html_safe %></span>
		
</div>
